[Unit]
Description=Java Service
After=network.target

[Service]
User=nobody
WorkingDirectory=/data 
ExecStart=/usr/bin/java -Xmx256m -jar application.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
